.App, .container {
  padding: 0px;
  text-align: center;
  width: 900 px;
}

.App {
  background-color: black;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}



.App-link {
  color: #61dafb;
}


