.AppFooter {
    background-color: #0556A5;
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    border-color: #a6a7a9;
}

.col-4 p, .col-6 p {
    font-size: 14px;
    margin: 2px;
}

.col-4 {
    text-align: left;
}

.col-6 {
    text-align: right;
}

.row {
    display: flex;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

